    <%- include("./partials/header.ejs") %>
    <div id="content">
        <div id="d">
    
       
           <a href="/login"><button><i class="fas fa-key"></i> Login</button></a> 
          
          <a href="/register"><button><i class="fas fa-sign-in-alt"></i> Sign up</button></a>  
        </div>
         
      </div>
      
      <div id="link">
        <a href="https://ashmudheen.co" target="_blank">all rights reserved @ ashmuash</a>
      </div>
     <%- include("./partials/footer.ejs") %>



