<%- include("./partials/header.ejs") %>
    <div class="login">
        <h1>This is the Secret page</h1>

        <a href="/logout" style="text-decoration: none;" >
            <button type="submit" class="btn btn-primary btn-block btn-large" style="margin-bottom: 1rem;">Logout!</button></a>

    </div>
    
    <%- include("./partials/footer.ejs") %>







